<section class="px-5 py-5 border-b">
  <h2 class="text-3xl">Guías</h2>
</section>

<section class="p-5 flex -mx-5 flex-col md:flex-row">
  
  <aside class="w-full md:w-3/12 p-5">
    <div class="border rounded-lg md:sticky">
      <h3 class="px-4 pt-4 uppercase font-bold text-xs">Para Negocios</h3>
      <a class="p-4 inline-block w-full hover:bg-gray-100" href="#negocios-domicilio">Para entregas a domicilio</a>
      <a class="p-4 inline-block w-full hover:bg-gray-100" href="#">Para pedidos para llevar</a>
      <h3 class="px-4 pt-4 uppercase font-bold text-xs">Para Clientes</h3>
      <a class="p-4 inline-block w-full hover:bg-gray-100" href="#">Para entregas a domicilio</a>
      <a class="p-4 inline-block w-full hover:bg-gray-100" href="#">Para pedidos para llevar</a>
    </div>
  </aside>

  <div class="w-full md:w-6/12 p-5">
    <article class="content rounded-lg border p-5">
      <h2>Guía de seguridad sanitaria negocios.</h2>

      <p>Aunque tu negocio cuenta con servicio a domicilio o pedidos para llevar y con esto logras reducir la cantidad de gente que interactua contigo.  Se tienen que tomar diferentes medidas para asegurar la salud de ti, tus empleados y consumidores.</p>
      <p>A continuación te presentamos una serie de sugerencias para cuidar la salud de todos:</p>

      <h3 id="negocios-domicilio">Para entregas a domicilio</h3>

      <h4>Lava tus manos antes de preparar los alimentos</h4>
      <p>Esta es la medida más importante de todas, por favor lava tus manos con jabón o gel antibacterial por un mínimo de 20 segundos antes de preparar cualquier alimento.</p>

      <h4>Utiliza guantes y tapabocas</h4>
      <p>De ser posible utiliza guantes y tapabocas para evitar el contacto directo con los alimentos y utensilios que utilizas.</p>

      <h4>Lava y desinfecta todos tus utensilios diariamente.</h4>
      <p>Lava frecuentemente todos los utensilios que utilizas procurando usar el jabón adecuado, no solamente lo hagas con agua.</p>

      <h4>De ser posible, no tengas contacto directo con el repartidor</h4>
      <p>Designa una zona de entrega en donde el repartidor pueda llegar y ubicar el pedido a entregar. sin interactuar contigo o tus empleados directamente. Utiliza notas o etiquetas con la dirección e información de pedido.</p>

      <h4>Pídele al repartidor que lave sus manos constantemente</h4>
      <p>Cada vez que regrese por un nuevo pedido solicita al repartidor que se lave las manos con jabón o gel antibacterial.</p>
    </article>
  </div>
</section>