@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Variables

:root {
  --menu-height: 60px;
}

// Utilities

.full-height {
  height: calc(100vh - var(--menu-height));
}



// Buttons

.button {
  @apply text-sm whitespace-pre font-bold px-3 py-2 rounded inline-block cursor-pointer;

  &.primary {
    @apply bg-teal-500 text-white;

    &:hover {
      @apply bg-teal-800;
    }
  }

  &.secondary {
    @apply bg-gray-100 text-gray-800 border;

    &:hover {
      @apply bg-gray-200;
    }
  }
}

// Input

.input {
  @apply outline-none p-2 rounded border w-full;
}

.label {
  @apply font-semibold pb-1;
}

// Header

.main-header {
  @apply py-2 border-b;

  &__container {
    @apply mx-auto flex items-center justify-between px-4;
  }
}

.mobile-menu {
  @apply flex-col bg-white p-5 hidden;

  &.is-active {
    @apply flex;
  }
}

// Content


.content {
  h2 {
    @apply text-3xl font-bold pb-2;
  }

  h3 {
    @apply text-2xl font-bold py-4;
  }

  p {
    @apply pb-3 leading-relaxed;
  }

  p + p {
    @apply pb-2;
  }

  h4 {
    @apply font-bold;
  }
}


.dropdown {
  @apply inline-block relative;

  &__toggle {
    @apply text-gray-700 font-semibold py-2 px-4 rounded inline-flex items-center outline-none;

    &:hover {
      @apply text-teal-500;
    }
  }

  &__link {
    @apply py-2 px-4 block whitespace-no-wrap;

    &:hover {
      @apply text-teal-500;
    }
  }

  &__menu {
    @apply absolute hidden text-gray-700 p-2 shadow rounded border bg-white;
  }
}

.dropdown:hover .dropdown__menu {
  display: block;
}